{{> navbarLoggedDietician }}

<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h1>Pacientes administrados por ti</h1>
        </div>
        <div class="card-body">
            {{#if patient}}

            <div class="slds-scrollable_y-ManejarPaciente scroll-ManejarPaciente">
                {{#each patient}}
                <!-- <lightning-card class="carta"> -->

                <div class="card-Paciente-ManejarPaciente">
                    <div class="columnaFilas-ManejarPaciente">


                        <div class="filaDatos-ManejarPaciente">
                            <div class="columnaDatos-ManejarPaciente">
                                <p class="notas-text-primera-ManejarPaciente">Nombre y apellidos:</br> <span
                                        class="notas-text-abajo-ManejarPaciente">{{username}}</span></p>

                            </div>
                            <div class=" columnainfoCorta-ManejarPaciente">
                                <p class="notas-text-primera-ManejarPaciente ">Teléfono: </br><span
                                        class="notas-text-abajo-ManejarPaciente">{{phone}}</span>
                                </p>
                            </div>
                            <div class=" columnainfoCorta-ManejarPaciente">
                                <p class="notas-text-primera-ManejarPaciente ">Altura: </br><span
                                        class="notas-text-abajo-ManejarPaciente">{{height}}</span></p>
                            </div>

                        </div>
                        <div class="filaDatos-ManejarPaciente">
                            <div class="columnaDatos-ManejarPaciente">
                                <p class="notas-text-primera-ManejarPaciente ">Email:</br> <span
                                        class="notas-text-abajo-ManejarPaciente">{{email}}</span>
                                </p>

                            </div>
                            <div class=" columnainfoCorta-ManejarPaciente">
                                <p class="notas-text-primera-ManejarPaciente ">Edad:</br> <span
                                        class="notas-text-abajo-ManejarPaciente">{{age}}</span></p>
                            </div>
                            <div class="columnainfoCorta-ManejarPaciente">
                                <p class="notas-text-primera-ManejarPaciente ">Peso:</br> <span
                                        class="notas-text-abajo-ManejarPaciente">{{weight}}</span></p>

                            </div>

                        </div>
                    </div>

                    <div class="columnaBotones-ManejarPaciente">
                        <a href="/rechazarPacienteAceptado/{{@key}}" class="btn btn-danger">Borrar paciente</a>

                        {{#ifeq dietId "null" }}
                        <a href="/nuevaDieta/{{@key}}" class="btn myButtonAmarillo">Crear Dieta</a>
                        {{/ifeq}}
                        {{#ifnoteq dietId "null" }}
                        <a href="/modificarDieta/{{@key}}" class="btn myButtonMarron">Modificar dieta</a>
                        <a href="/seguirPaciente/{{@key}}" class="btn myButtonVerde">Seguir progreso</a>
                        {{/ifnoteq}}
                    </div>

                </div>

                <!-- </lightning-card> -->


                {{/each}}
            </div>





            
            {{else}}
            <p>No tienes pacientes asignados</p>
            {{/if}}
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>