{{> navbarLoggedDietician }}

<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h1>Pacientes administrados por ti</h1>
        </div>
        <div class="card-body">
            {{#if patient}}
            <ul class="list-group">
                {{#each patient}}
                <li class="list-group-item d-flex justify-content-between align-items-center list-patient">
                    <p class="info-patient">Nombre y apellidos: <br></br>{{username}}</p>
                    <p class="info-patient">Email: <br></br> {{email}} </p>
                    <p class="info-patient">Telefono: <br></br>{{phone}} </p>
                    <p class="info-patient">Edad: <br></br>{{age}} </p>
                    <p class="info-patient">Altura: {{height}} <br></br></p>
                    <p class="info-patient">Peso: <br></br>{{weight}} </p>
                    <a href="/rechazarPacienteAceptado/{{@key}}" class="btn btn-danger">Borrar paciente</a>
                     {{#ifeq dietId "null" }}
                    <a href="/nuevaDieta/{{@key}}" class="btn myButtonAmarillo">Crear Dieta</a>
                    {{/ifeq}}           
                     {{#ifnoteq dietId "null" }}
                     <a href="/modificarDieta/{{@key}}" class="btn myButtonMarron">Modificar dieta</a>
                    <a href="/seguirPaciente/{{@key}}" class="btn myButtonVerde">Seguir progreso</a>
                    {{/ifnoteq}}

                </li>
                {{/each}}
            </ul>
            {{else}}
            <p>No tienes pacientes asignados</p>
            {{/if}}
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>