{{> navbarLoggedDietician }}

<link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
    rel="stylesheet">

<!-- Vendor CSS-->
<link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="/css/mainRegister.css" rel="stylesheet" media="all">
<link href="/main.css" rel="stylesheet" media="all">
<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo page-wrapper-SeguirProgreso">
    <div class="wrapper wrapper--w960">
        <div class="card">
            <div class="card-header">
                <h1>Modificar la dieta de {{patient.username}}</h1>
            </div>
            <div class="card-body">
                <ul class="list-group">
                          <li class="list-group-item d-flex justify-content-between align-items-center list-patient">
          <div class="row m-l-0 m-r-0 informacionUser">
            <div class="col-sm-4 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-25"> <img src={{fotoPerfil}} class="img-radius imagenPerfil"
                    alt="https://img.icons8.com/bubbles/100/000000/user.png"> </div>
                <h6 class="f-w-600"></h6>
                <p> {{patient.email}}</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>

              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <div class="row filaPerfil">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600 descripcionPaciente">Telefono</p>
                    <h6 class="text-muted f-w-400 detallePaciente">{{patient.phone}}</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600 descripcionPaciente">Edad</p>
                    <h6 class="text-muted f-w-400 detallePaciente">{{patient.age}}</h6>
                  </div>
                </div>
                <div class="row filaPerfil">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600 descripcionPaciente">Altura</p>
                    <h6 class="text-muted f-w-400 detallePaciente">{{patient.height}} cm</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600 descripcionPaciente">Peso</p>
                    <h6 class="text-muted f-w-400 detallePaciente">{{patient.weight}} kg</h6>
                  </div>
                </div>
                <div class="row filaPerfil">
                <div class="col-sm-6">
                  <p class="m-b-10 f-w-600 descripcionPaciente">Sexo</p>
                  <h6 class="text-muted f-w-400 detallePaciente">{{patient.sex}} </h6>
                </div>
                <div class="col-sm-6">
                  <p class="m-b-10 f-w-600 descripcionPaciente">Actividad</p>
                  <h6 class="text-muted f-w-400 detallePaciente">{{patient.activity}}</h6>
                </div>
              </div>
              </div>
            </div>
          </div>
        </li>
                </ul>
            </div>
            <div class="card-footer">
            </div>
        </div>
        <div class="card card-2">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Modificar la dieta</h2>
                <form action="/modificarDieta/{{dietId}}/paciente/{{idPatient}}" id="dietForm" method="POST">
                    <div class="card-day monday-day">
                        <div class="card-day-title">
                            <p class="day-title monday-day-title">Lunes</p>
                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 1</p>
                            <p><textarea class="form-control" name="mondaylunch1" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la primera comida (o posibles comidas)" required="true"
                                    >{{diet.Lunes.foods.food1}}</textarea></p>

                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 2:</p>
                            <p><textarea class="form-control" name="mondaylunch2" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la segunda comida (o posibles comidas)"
                                    required="true">{{diet.Lunes.foods.food2}}</textarea></p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 3:</p>
                            <p><textarea class="form-control" name="mondaylunch3" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la tercera comida (no es obligatorio rellenar este campo)">{{diet.Lunes.foods.food3}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 4:</p>
                            <p><textarea class="form-control" name="mondaylunch4" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la cuarta comida (no es obligatorio rellenar este campo)">{{diet.Lunes.foods.food4}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 5:</p>
                            <p><textarea class="form-control" name="mondaylunch5" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la quinta comida (no es obligatorio rellenar este campo)">{{diet.Lunes.foods.food5}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comentario para las comidas del lunes:</p>
                            <p><textarea class="form-control" name="mondaycomment" cols="50" rows="5" form="dietForm"
                                    placeholder="Escribe aquí los comentarios que tengas sobre el lunes"
                                    required="true">{{diet.Lunes.coment}}</textarea></p>

                        </div>

                    </div>
                    <div class="card-day tuesday-day">
                        <div class="card-day-title">

                            <p class="day-title tuesday-day-title">Martes</p>
                        </div>
                        <div class="form-group">

                            <p class="food-title">Comida 1</p>
                            <p><textarea class="form-control" name="tuesdaylunch1" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la primera comida (o posibles comidas)" required="true"
                                    >{{diet.Martes.foods.food1}}</textarea></p>

                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 2:</p>
                            <p><textarea class="form-control" name="tuesdaylunch2" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la segunda comida (o posibles comidas)"
                                    required="true">{{diet.Martes.foods.food2}}</textarea></p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 3:</p>
                            <p><textarea class="form-control" name="tuesdaylunch3" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la tercera comida (no es obligatorio rellenar este campo)">{{diet.Martes.foods.food3}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 4:</p>
                            <p><textarea class="form-control" name="tuesdaylunch4" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la cuarta comida (no es obligatorio rellenar este campo)">{{diet.Martes.foods.food4}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 5:</p>
                            <p><textarea class="form-control" name="tuesdaylunch5" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la quinta comida (no es obligatorio rellenar este campo)">{{diet.Martes.foods.food5}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comentario para las comidas del martes:</p>
                            <p><textarea class="form-control" name="tuesdaycomment" cols="50" rows="5" form="dietForm"
                                    placeholder="Escribe aquí los comentarios que tengas sobre el martes"
                                    required="true">{{diet.Martes.coment}}</textarea></p>

                        </div>

                    </div>
                    <div class="card-day wednesday-day">
                        <div class="card-day-title">

                            <p class="day-title wednesday-day-title">Miércoles</p>
                        </div>
                        <div class="form-group">

                            <p class="food-title">Comida 1</p>
                            <p><textarea class="form-control" name="wednesdaylunch1" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la primera comida (o posibles comidas)" required="true"
                                    >{{diet.Miercoles.foods.food1}}</textarea></p>

                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 2:</p>
                            <p><textarea class="form-control" name="wednesdaylunch2" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la segunda comida (o posibles comidas)"
                                    required="true">{{diet.Miercoles.foods.food2}}</textarea></p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 3:</p>
                            <p><textarea class="form-control" name="wednesdaylunch3" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la tercera comida (no es obligatorio rellenar este campo)">{{diet.Miercoles.foods.food3}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 4:</p>
                            <p><textarea class="form-control" name="wednesdaylunch4" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la cuarta comida (no es obligatorio rellenar este campo)">{{diet.Miercoles.foods.food4}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 5:</p>
                            <p><textarea class="form-control" name="wednesdaylunch5" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la quinta comida (no es obligatorio rellenar este campo)">{{diet.Miercoles.foods.food5}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comentario para las comidas del miércoles:</p>
                            <p><textarea class="form-control" name="wednesdaycomment" cols="50" rows="5"
                                    form="dietForm"
                                    placeholder="Escribe aquí los comentarios que tengas sobre el miércoles"
                                    required="true">{{diet.Miercoles.coment}}</textarea></p>

                        </div>

                    </div>
                    <div class="card-day thursday-day">
                        <div class="card-day-title">

                            <p class="day-title thursday-day-title">Jueves</p>
                        </div>
                        <div class="form-group">

                            <p class="food-title">Comida 1</p>
                            <p><textarea class="form-control" name="thursdaylunch1" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la primera comida (o posibles comidas)" required="true"
                                    >{{diet.Jueves.foods.food1}}</textarea></p>

                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 2:</p>
                            <p><textarea class="form-control" name="thursdaylunch2" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la segunda comida (o posibles comidas)"
                                    required="true">{{diet.Jueves.foods.food2}}</textarea></p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 3:</p>
                            <p><textarea class="form-control" name="thursdaylunch3" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la tercera comida (no es obligatorio rellenar este campo)">{{diet.Jueves.foods.food3}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 4:</p>
                            <p><textarea class="form-control" name="thursdaylunch4" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la cuarta comida (no es obligatorio rellenar este campo)">{{diet.Jueves.foods.food4}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 5:</p>
                            <p><textarea class="form-control" name="thursdaylunch5" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la quinta comida (no es obligatorio rellenar este campo)">{{diet.Jueves.foods.food5}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comentario para las comidas del jueves:</p>
                            <p><textarea class="form-control" name="thursdaycomment" cols="50" rows="5" form="dietForm"
                                    placeholder="Escribe aquí los comentarios que tengas sobre el jueves"
                                    required="true">{{diet.Jueves.coment}}</textarea></p>

                        </div>

                    </div>
                    <div class="card-day friday-day">
                        <div class="card-day-title">

                            <p class="day-title friday-day-title">Viernes</p>
                        </div>

                        <div class="form-group">
                            <p class="food-title">Comida 1</p>
                            <p><textarea class="form-control" name="fridaylunch1" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la primera comida (o posibles comidas)" required="true"
                                    >{{diet.Viernes.foods.food1}}</textarea></p>

                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 2:</p>
                            <p><textarea class="form-control" name="fridaylunch2" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la segunda comida (o posibles comidas)"
                                    required="true">{{diet.Viernes.foods.food2}}</textarea></p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 3:</p>
                            <p><textarea class="form-control" name="fridaylunch3" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la tercera comida (no es obligatorio rellenar este campo)">{{diet.Viernes.foods.food3}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 4:</p>
                            <p><textarea class="form-control" name="fridaylunch4" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la cuarta comida (no es obligatorio rellenar este campo)">{{diet.Viernes.foods.food4}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 5:</p>
                            <p><textarea class="form-control" name="fridaylunch5" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la quinta comida (no es obligatorio rellenar este campo)">{{diet.Viernes.foods.food5}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comentario para las comidas del viernes:</p>
                            <p><textarea class="form-control" name="fridaycomment" cols="50" rows="5" form="dietForm"
                                    placeholder="Escribe aquí los comentarios que tengas sobre el viernes"
                                    required="true">{{diet.Viernes.coment}}</textarea></p>

                        </div>

                    </div>
                    <div class="card-day saturday-day">
                        <div class="card-day-title">

                            <p class="day-title saturday-day-title">Sábado</p>
                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 1</p>
                            <p><textarea class="form-control" name="saturdaylunch1" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la primera comida (o posibles comidas)" required="true"
                                    >{{diet.Sabado.foods.food1}}</textarea></p>

                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 2:</p>
                            <p><textarea class="form-control" name="saturdaylunch2" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la segunda comida (o posibles comidas)"
                                    required="true">{{diet.Sabado.foods.food2}}</textarea></p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 3:</p>
                            <p><textarea class="form-control" name="saturdaylunch3" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la tercera comida (no es obligatorio rellenar este campo)">{{diet.Sabado.foods.food3}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 4:</p>
                            <p><textarea class="form-control" name="saturdaylunch4" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la cuarta comida (no es obligatorio rellenar este campo)">{{diet.Sabado.foods.food4}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 5:</p>
                            <p><textarea class="form-control" name="saturdaylunch5" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la quinta comida (no es obligatorio rellenar este campo)">{{diet.Sabado.foods.food5}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comentario para las comidas del sábado:</p>
                            <p><textarea class="form-control" name="saturdaycomment" cols="50" rows="5" form="dietForm"
                                    placeholder="Escribe aquí los comentarios que tengas sobre el sábado"
                                    required="true">{{diet.Sabado.coment}}</textarea></p>

                        </div>

                    </div>
                    <div class="card-day sunday-day">
                        <div class="card-day-title">
                            <p class="day-title sunday-day-title">Domingo</p>
                        </div>

                        <div class="form-group">
                            <p class="food-title">Comida 1</p>
                            <p><textarea class="form-control" name="sundaylunch1" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la primera comida (o posibles comidas)" required="true"
                                    >{{diet.Domingo.foods.food1}}</textarea></p>

                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 2:</p>
                            <p><textarea class="form-control" name="sundaylunch2" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la segunda comida (o posibles comidas)"
                                    required="true">{{diet.Domingo.foods.food2}}</textarea></p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 3:</p>
                            <p><textarea class="form-control" name="sundaylunch3" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la tercera comida (no es obligatorio rellenar este campo)">{{diet.Domingo.foods.food3}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 4:</p>
                            <p><textarea class="form-control" name="sundaylunch4" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la cuarta comida (no es obligatorio rellenar este campo)">{{diet.Domingo.foods.food4}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 5:</p>
                            <p><textarea class="form-control" name="sundaylunch5" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la quinta comida (no es obligatorio rellenar este campo)">{{diet.Domingo.foods.food5}}</textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comentario para las comidas del domingo:</p>
                            <p><textarea class="form-control" name="sundaycomment" cols="50" rows="5" form="dietForm"
                                    placeholder="Escribe aquí los comentarios que tengas sobre el domingo"
                                    required="true">{{diet.Domingo.coment}}</textarea></p>

                        </div>

                    </div>
                    <button class="btn btn-primary btn-block">
                        Modificar dieta 
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- Jquery JS-->
<script src="/vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="/vendor/select2/select2.min.js"></script>
<script src="/vendor/datepicker/moment.min.js"></script>
<script src="/vendor/datepicker/daterangepicker.js"></script>
<!-- Main JS-->
<script src="/js/global.js"></script