{{> navbarLoggedDietician }}


<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
    {{#if patient}}
    <div class="wrapper wrapper--w960">
        <div class="card">
            <div class="card-header">
                <h1>Paciente al que realizar la dieta</h1>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center list-patient">
                        <p class="info-patient">Nombre: <br></br>{{username}}</p>
                        <p class="info-patient">Email: <br></br> {{email}} </p>
                        <p class="info-patient">Telefono: <br></br>{{phone}} </p>
                        <p class="info-patient">Edad: <br></br>{{age}} </p>
                        <p class="info-patient">Altura: {{height}} <br></br></p>
                        <p class="info-patient">Peso: <br></br>{{weight}} </p>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
            </div>
        </div>
        <div class="card card-2">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Creación de nueva dieta</h2>
                <form action="/nuevaDieta" id="dietForm" method="POST">
                    <div class="card-day monday-day">
                        <div class="card-day-title">
                            <p class="day-title monday-day-title">Lunes</p>
                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 1</p>
                            <p><textarea class="form-control" name="monday-lunch1" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la primera comida (o posibles comidas)" required="true"
                                    autofocus></textarea></p>

                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 2:</p>
                            <p><textarea class="form-control" name="monday-lunch2" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la segunda comida (o posibles comidas)"
                                    required="true"></textarea></p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 3:</p>
                            <p><textarea class="form-control" name="monday-lunch3" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la tercera comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 4:</p>
                            <p><textarea class="form-control" name="monday-lunch4" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la cuarta comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 5:</p>
                            <p><textarea class="form-control" name="monday-lunch5" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la quinta comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comentario para las comidas del lunes:</p>
                            <p><textarea class="form-control" name="monday-comment" cols="50" rows="5" form="dietForm"
                                    placeholder="Escribe aquí los comentarios que tengas sobre el lunes"
                                    required="true"></textarea></p>

                        </div>

                    </div>
                    <div class="card-day tuesday-day">
                        <div class="card-day-title">

                            <p class="day-title tuesday-day-title">Martes</p>
                        </div>
                        <div class="form-group">

                            <p class="food-title">Comida 1</p>
                            <p><textarea class="form-control" name="tuesday-lunch1" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la primera comida (o posibles comidas)" required="true"
                                    autofocus></textarea></p>

                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 2:</p>
                            <p><textarea class="form-control" name="tuesday-lunch2" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la segunda comida (o posibles comidas)"
                                    required="true"></textarea></p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 3:</p>
                            <p><textarea class="form-control" name="tuesday-lunch3" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la tercera comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 4:</p>
                            <p><textarea class="form-control" name="tuesday-lunch4" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la cuarta comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 5:</p>
                            <p><textarea class="form-control" name="tuesday-lunch5" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la quinta comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comentario para las comidas del martes:</p>
                            <p><textarea class="form-control" name="tuesday-comment" cols="50" rows="5" form="dietForm"
                                    placeholder="Escribe aquí los comentarios que tengas sobre el martes"
                                    required="true"></textarea></p>

                        </div>

                    </div>
                    <div class="card-day wednesday-day">
                        <div class="card-day-title">

                            <p class="day-title wednesday-day-title">Miércoles</p>
                        </div>
                        <div class="form-group">

                            <p class="food-title">Comida 1</p>
                            <p><textarea class="form-control" name="wednesday-lunch1" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la primera comida (o posibles comidas)" required="true"
                                    autofocus></textarea></p>

                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 2:</p>
                            <p><textarea class="form-control" name="wednesday-lunch2" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la segunda comida (o posibles comidas)"
                                    required="true"></textarea></p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 3:</p>
                            <p><textarea class="form-control" name="wednesday-lunch3" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la tercera comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 4:</p>
                            <p><textarea class="form-control" name="wednesday-lunch4" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la cuarta comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 5:</p>
                            <p><textarea class="form-control" name="wednesday-lunch5" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la quinta comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comentario para las comidas del miércoles:</p>
                            <p><textarea class="form-control" name="wednesday-comment" cols="50" rows="5"
                                    form="dietForm"
                                    placeholder="Escribe aquí los comentarios que tengas sobre el miércoles"
                                    required="true"></textarea></p>

                        </div>

                    </div>
                    <div class="card-day thursday-day">
                        <div class="card-day-title">

                            <p class="day-title thursday-day-title">Jueves</p>
                        </div>
                        <div class="form-group">

                            <p class="food-title">Comida 1</p>
                            <p><textarea class="form-control" name="thursday-lunch1" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la primera comida (o posibles comidas)" required="true"
                                    autofocus></textarea></p>

                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 2:</p>
                            <p><textarea class="form-control" name="thursday-lunch2" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la segunda comida (o posibles comidas)"
                                    required="true"></textarea></p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 3:</p>
                            <p><textarea class="form-control" name="thursday-lunch3" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la tercera comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 4:</p>
                            <p><textarea class="form-control" name="thursday-lunch4" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la cuarta comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 5:</p>
                            <p><textarea class="form-control" name="thursday-lunch5" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la quinta comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comentario para las comidas del jueves:</p>
                            <p><textarea class="form-control" name="thursday-comment" cols="50" rows="5" form="dietForm"
                                    placeholder="Escribe aquí los comentarios que tengas sobre el jueves"
                                    required="true"></textarea></p>

                        </div>

                    </div>
                    <div class="card-day friday-day">
                        <div class="card-day-title">

                            <p class="day-title friday-day-title">Viernes</p>
                        </div>

                        <div class="form-group">
                            <p class="food-title">Comida 1</p>
                            <p><textarea class="form-control" name="friday-lunch1" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la primera comida (o posibles comidas)" required="true"
                                    autofocus></textarea></p>

                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 2:</p>
                            <p><textarea class="form-control" name="friday-lunch2" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la segunda comida (o posibles comidas)"
                                    required="true"></textarea></p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 3:</p>
                            <p><textarea class="form-control" name="friday-lunch3" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la tercera comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 4:</p>
                            <p><textarea class="form-control" name="friday-lunch4" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la cuarta comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 5:</p>
                            <p><textarea class="form-control" name="friday-lunch5" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la quinta comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comentario para las comidas del viernes:</p>
                            <p><textarea class="form-control" name="friday-comment" cols="50" rows="5" form="dietForm"
                                    placeholder="Escribe aquí los comentarios que tengas sobre el viernes"
                                    required="true"></textarea></p>

                        </div>

                    </div>
                    <div class="card-day saturday-day">
                        <div class="card-day-title">

                            <p class="day-title saturday-day-title">Sábado</p>
                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 1</p>
                            <p><textarea class="form-control" name="saturday-lunch1" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la primera comida (o posibles comidas)" required="true"
                                    autofocus></textarea></p>

                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 2:</p>
                            <p><textarea class="form-control" name="saturday-lunch2" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la segunda comida (o posibles comidas)"
                                    required="true"></textarea></p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 3:</p>
                            <p><textarea class="form-control" name="saturday-lunch3" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la tercera comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 4:</p>
                            <p><textarea class="form-control" name="saturday-lunch4" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la cuarta comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 5:</p>
                            <p><textarea class="form-control" name="saturday-lunch5" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la quinta comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comentario para las comidas del sábado:</p>
                            <p><textarea class="form-control" name="saturday-comment" cols="50" rows="5" form="dietForm"
                                    placeholder="Escribe aquí los comentarios que tengas sobre el sábado"
                                    required="true"></textarea></p>

                        </div>

                    </div>
                    <div class="card-day sunday-day">
                        <div class="card-day-title">
                            <p class="day-title sunday-day-title">Domingo</p>
                        </div>

                        <div class="form-group">
                            <p class="food-title">Comida 1</p>
                            <p><textarea class="form-control" name="sunday-lunch1" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la primera comida (o posibles comidas)" required="true"
                                    autofocus></textarea></p>

                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 2:</p>
                            <p><textarea class="form-control" name="sunday-lunch2" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la segunda comida (o posibles comidas)"
                                    required="true"></textarea></p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 3:</p>
                            <p><textarea class="form-control" name="sunday-lunch3" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la tercera comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 4:</p>
                            <p><textarea class="form-control" name="sunday-lunch4" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la cuarta comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comida 5:</p>
                            <p><textarea class="form-control" name="sunday-lunch5" cols="50" rows="4" form="dietForm"
                                    placeholder="Escribe aquí la quinta comida (no es obligatorio rellenar este campo)"></textarea>
                            </p>


                        </div>
                        <div class="form-group">
                            <p class="food-title">Comentario para las comidas del domingo:</p>
                            <p><textarea class="form-control" name="sunday-comment" cols="50" rows="5" form="dietForm"
                                    placeholder="Escribe aquí los comentarios que tengas sobre el domingo"
                                    required="true"></textarea></p>

                        </div>

                    </div>
                    <button class="btn btn-primary btn-block">
                        Crear dieta para el paciente
                    </button>
                </form>
            </div>
        </div>
    </div>
    {{else}}

    <div class="wrapper wrapper--w960">
        <div class="card">
            <div class="card-header">
                <h1>Error al mostrar la información del paciente</h1>
            </div>

        </div>
    </div>
    {{/if}}
</div>
