{{> navbarLoggedDietician }}
{{!-- BOOTSTRAP REGISTER --}}
<link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
    rel="stylesheet">

<!-- Vendor CSS-->
<link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="/css/mainRegister.css" rel="stylesheet" media="all">
<link href="/main.css" rel="stylesheet" media="all">




<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class=" container d-flex justify-content-center">
            <div class="col-xl-9 col-md-12">
                <div class="card user-card-full">
                    {{#if dietician}}
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png"
                                        class="img-radius imagenPerfil" alt="https://img.icons8.com/bubbles/100/000000/user.png"> </div>
                                <h6 class="f-w-600"></h6>
                                <p>Dietista {{dietician.username}}</p> <i
                                    class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Tú información</h6>
                                <div class="row filaPerfilDietician">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">{{dietician.email}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Telefono</p>
                                        <h6 class="text-muted f-w-400">{{dietician.phone}}</h6>
                                    </div>
                                </div>
                                <div class="row filaPerfilDietician">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Descripción</p>
                                        <h6 class="text-muted f-w-400">{{dietician.description}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Valoración</p>
                                        <h6 class="text-muted f-w-400">{{dietician.worth}}</h6>
                                    </div>
                                </div>
                                <div class="row filaPerfilDietician">
                                    <div class="col-sm-12">
                                        <p class="m-b-10 f-w-600">Estado</p>
                                        <h6 class="text-muted f-w-400">{{dietician.status}}</h6>
                                    </div>
                                    <div class="col-sm-6">


                                    </div>
                                </div>
                                <div class="row filaBotones filaPerfilDietician">
                                    <div class="columnaBoton">
                                        <a href="/changePassword/{{dietician.email}}"
                                            class="btn myButtonAmarillo botonReset">Reestablecer contraseña</a>
                                    </div>
                                    <div class="columnaBoton">
                                        <a href="/deregister/{{dieticianId}}"
                                            class="btn myButtonRojo botonDeregister">Darse de baja</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <p>Error al cargar el dietista</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Jquery JS-->
<script src="/vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="/vendor/select2/select2.min.js"></script>
<script src="/vendor/datepicker/moment.min.js"></script>
<script src="/vendor/datepicker/daterangepicker.js"></script>
<!-- Main JS-->
<script src="/js/global.js"></script