<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h1>Registrar usuario</h1>
        </div>
        <div class="card-body">
            {{#if dietician}}
            <ul class="list-group">
                {{#each dietician}}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{username}}
                    {{email}} / 
                    {{phone}} /
                    {{description}} /
                    {{worth}} /
                    <a href="/delete-dietician/{{@key}}" class="btn btn-danger">Delete</a>
                </li>
                {{/each}}
            </ul>
            {{else}}
                <p>No tienes usuarios registrados</p>
            {{/if}}
        </div>
        <div class="card-footer">
            <form action="/new-dietician" method="POST">
                <div class="form-group">
                   <p>Nombre: <input type="text" name="nombre"  required="true" class="form-control" autofocus></p>
                </div>
                <div class="form-group">
                    <p>Apellidos: <input type="text" name="apellidos" required="true" class="form-control"></p>
                </div>
                <div class="form-group">
                    <p>Email: <input type="email" name="email" required="true" class="form-control"></p>
                </div>
                <div class="form-group">
                    <p>Telefono: <input type="tel" name="phone" required="true" class="form-control"></p>
                </div>
                <div class="form-group">
                    <p>Descripción dietista: <input type="text" name="description" required="true" class="form-control"></p>
                </div>
                <button class="btn btn-primary btn-block">
                    Añadir usuario
                </button>
            </form>
        </div>
    </div>
</div>