{{> navbarLoggedAdmin }}

<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h1>Todos los dietistas registrados</h1>
        </div>
        <div class="card-body">
            {{#if dietician}}
            <ul class="list-group">
                {{#each dietician}}
              
                <li class="list-group-item d-flex justify-content-between align-items-center list-dieticians">
                    <p class="info-dietician">Nombre y apellidos: <br></br>{{username}}</p>
                    <p class="info-dietician">Email: <br></br> {{email}} </p>
                    <p class="info-dietician">Telefono: <br></br>{{phone}} </p>
                    <p class="info-dietician">Descripción: <br></br>{{description}} </p>
                    <p class="info-dietician">Valoración: {{worth}} <br></br></p>
                    <p class="info-dietician">Estado: <br></br>{{status}} </p>
                    <a href="/modify-dietician/{{@key}}" class="btn myButtonVerde">Modificar dietista</a>                   
                    <a href="/delete-dietician/{{@key}}" class="btn myButtonRojo">Borrar dietista</a>

                </li>
                
                {{/each}}
            </ul>
            {{else}}
            <p>No existen dietistas registrados</p>
            {{/if}}
        </div>
        <div class="card-footer">

        </div>
    </div>
</div>