{{> navbarLoggedAdmin }}
{{!-- BOOTSTRAP REGISTER --}}
<link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
    rel="stylesheet">

<!-- Vendor CSS-->
<link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

<!-- Main CSS-->
<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h1>Pacientes registrados</h1>
        </div>

        <div class="card-body">
            {{#if patient}}

            <div class="slds-scrollable_y-ManejarPaciente scroll-ManejarPaciente">
                {{#each patient}}
                <!-- <lightning-card class="carta"> -->

                <div class="card-Paciente-ManejarPaciente">
                    <div class="columnaFilas-ManejarPaciente">


                        <div class="filaDatos-ManejarPaciente">
                            <div class="columnaDatos-ManejarPaciente">
                                <p class="notas-text-primera-ManejarPaciente">Nombre y apellidos:</br> <span
                                        class="notas-text-abajo-ManejarPaciente">{{username}}</span></p>

                            </div>
                            <div class=" columnainfoCorta-ManejarPaciente">
                                <p class="notas-text-primera-ManejarPaciente ">Teléfono: </br><span
                                        class="notas-text-abajo-ManejarPaciente">{{phone}}</span>
                                </p>
                            </div>
                            <div class=" columnainfoCorta-ManejarPaciente">
                                <p class="notas-text-primera-ManejarPaciente ">Altura: </br><span
                                        class="notas-text-abajo-ManejarPaciente">{{height}}</span></p>
                            </div>

                             <div class=" columnainfoCorta-ManejarPaciente">

                                  {{#ifeq dieticianId "null" }}
                                      <p class="notas-text-primera-ManejarPaciente ">Dietista: </br><span
                                        class="notas-text-abajo-ManejarPaciente">No</span></p>
                                    {{/ifeq}}
                                    {{#ifnoteq dieticianId "null" }}
                                     <p class="notas-text-primera-ManejarPaciente ">Dietista: </br><span
                                        class="notas-text-abajo-ManejarPaciente">Si</span></p>
                                    {{/ifnoteq}}

                            </div>

                        </div>
                        <div class="filaDatos-ManejarPaciente">
                            <div class="columnaDatos-ManejarPaciente">
                                <p class="notas-text-primera-ManejarPaciente ">Email:</br> <span
                                        class="notas-text-abajo-ManejarPaciente">{{email}}</span>
                                </p>

                            </div>
                            <div class=" columnainfoCorta-ManejarPaciente">
                                <p class="notas-text-primera-ManejarPaciente ">Edad:</br> <span
                                        class="notas-text-abajo-ManejarPaciente">{{age}}</span></p>
                            </div>
                            <div class="columnainfoCorta-ManejarPaciente">
                                <p class="notas-text-primera-ManejarPaciente ">Peso:</br> <span
                                        class="notas-text-abajo-ManejarPaciente">{{weight}}</span></p>

                            </div>
                            
                            <div class=" columnainfoCorta-ManejarPaciente">

                                  {{#ifeq dietId "null" }}
                                      <p class="notas-text-primera-ManejarPaciente ">Dieta: </br><span
                                        class="notas-text-abajo-ManejarPaciente">No</span></p>
                                    {{/ifeq}}
                                    {{#ifnoteq dietId "null" }}
                                     <p class="notas-text-primera-ManejarPaciente ">Dieta: </br><span
                                        class="notas-text-abajo-ManejarPaciente">Si</span></p>
                                    {{/ifnoteq}}

                            </div>
                        </div>
                    </div>

                    <div class="columnaBotones-ManejarPaciente columnaBotones-ManejarPacienteAdmin">
                        <a href="/delete-patient-admin/{{@key}}" class="btn myButtonRojo">Borrar paciente</a>
                    </div>


                  


                </div>

                <!-- </lightning-card> -->


                {{/each}}
            </div>






            {{else}}
            <div class="slds-scrollable_y scroll cardsListaPaciente">
                <!-- <lightning-card class="carta"> -->

                <div class="card-Paciente">
                    <div class="columnaFilas">
                        <div class="filaDatos">
                            <div class="columnaDia">
                                <p class="notas-text-primera"><span
                                        class="notas-text-abajo-ManejarPaciente">No hay pacientes registrados</span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- </lightning-card> -->


            </div>
            {{/if}}
        </div>
    </div>
</div>

<!-- Jquery JS-->
<script src="/vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="/vendor/select2/select2.min.js"></script>
<script src="/vendor/datepicker/moment.min.js"></script>
<script src="/vendor/datepicker/daterangepicker.js"></script>
<!-- Main JS-->
<script src="/js/global.js"></script